@import "../node_modules/open-color/open-color.css";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&family=Karla:wght@400;600;700&display=swap");

:root {
  --body: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  --code: "Inconsolata", monospace;
  --font-xsmall: 10px;
  --font-small: 14px;
  --font-normal: 16px;
  --font-large: 20px;
  --font-xlarge: 28px;
  letter-spacing: 0.04em;
}

body {
  margin: 0;
  font-family: var(--body);
}
